/* All Sections */

.section-heading {
  font-size: 30px;
  text-align: center;
  color: var(--colorBlack);
  text-transform: uppercase;
  font-family: "Trajan_Pro_Bold";
}
.sub-heading {
  color: var(--colorSecondary);
  font-family: "Trajan_Pro_Bold";
}
@media screen and (max-width: 600px) {
  .section-heading {
    font-size: 1.6em;
  }
  .sub-heading {
    font-size: 1em;
  }
}

/* Footer */
#footer {
  background-color: var(--colorBlack);
  padding: 40px 20px;
}
.qrcode {
  text-align: center;
  margin: 10px 20px;
  color: var(--colorWhite);
}

.qrcode img {
  /* display: block;
    margin: auto; */
  width: 100px;
  /* margin-bottom: 10px; */
}

@media screen and (min-width: 990px) {
  .navbar-nav {
    justify-content: flex-end;
  }
}

/* Action Footer */
.action-footer-container {
  margin: 0;
  padding: 0;
}
.action-footer {
  margin: 0;
  padding: 7px;
  background-color: var(--colorPrimary);
  color: var(--colorWhite);
  cursor: pointer;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  font-size: 0.8em;
}

.action-footer li {
  border-left: 1px solid var(--colorBlack);
}

.action-footer li:first-child {
  border-left: none !important;
}
/* For Desktop */
@media only screen and (min-width: 990px) {
  .action-footer {
    display: none;
  }
}

.form_norms {
  font-size: 0.75em;
  font-weight: bold;
}

.download_btn {
  color: var(--colorPrimary);
  border-color: var(--colorPrimary);
}
.download_btn:hover,
.download_btn:active {
  border-color: var(--colorPrimary) !important;
  background-color: var(--colorPrimary) !important;
}

/* ----------------------------------------------------------- */
/* Thank You Page */

#thanku_section {
  margin-top: 5em !important;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#thanku_section h2 {
  font-family: MyCustomFont;
  letter-spacing: 0.1em;
  font-size: 5em;
}

#thanku_section p {
  font-size: 1em;
}

@media screen and (max-width: 600px) {
  #thanku_section h2 {
    font-size: 2.3em;
  }
  #thanku_section p {
    padding: 0 1.2em;
    font-size: 0.8em;
  }
}
.read_more2 {
  cursor: pointer;
  color: var(--colorPrimary);
}

/* Button Styles */
.btn-primary-estate {
  background-color: var(--colorPrimary);
  border-color: var(--colorPrimary);
  color: white;
  padding: 12px 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  /*  */
  font-size: 0.9rem;
}

.btn-primary-estate:hover {
  background-color: var(--colorSecondary);
  border-color: var(--colorSecondary);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: white;
  /* color: var(--colorPrimary); */
}

.btn-secondary-estate {
  background-color: transparent;
  border: 2px solid var(--colorPrimary);
  color: var(--colorPrimary);
  padding: 11px 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-secondary-estate:hover {
  background-color: var(--colorPrimary);
  color: white;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colorSecondary);
}

.policy_links a {
  color: var(--colorSecondary);
}

.navbar-toggler-icon {
  background-image: url("../img/logo/menu.svg") !important;
}

.action-footer li a {
  color: var(--colorWhite);
}
